$color_base : #F0F0F0;
@import 'util';


$banner_height: 3em;
#app_banner{
    $color_banner : #F0F0F0;
    @include clearfix();
    
    background-color: $color_banner;
    box-shadow: 0px 2px 1px 1px #E6E6E6;
    height: $banner_height;
    top: 0;
    left: 0;
    
    div{
        display: inline-block;
    }
}


#site_logo{
    background: url(/images/logo.png) center center/ 100% no-repeat;
    text-indent: -9999px;
    width:128px;
    height: $banner_height;
    margin-left: 84px;
    
}




$notification_icon_width: $banner_height;
$notification_list_width: 14em;

.banner_element{
    float:right;
    height: $banner_height;
    position:relative;
    right: 80px;
    margin-right: 24px;
    cursor: pointer;
}

#search_user{
    width: 180px;
    height:2em;
    position: relative;
    top: ($banner_height - 2)/2;
    input[type='search']{
        line-height: 1.5em;
        height: 1.5em;
        font-family: 'avenir';
        text-indent: 0.5em;
        color: #5C6BC0;
    }
}
#user_avatar{
    width: 2em;
    height: 2em;
    position: relative;
    top: ($banner_height - 2)/2;

}



#btn_notification{
    position: relative;
    top: ($banner_height - 2)/2;;
    height: 2em;
    
}

#sign_out>svg{
    position: relative;
    height: 1.5rem;
    top: ($banner_height - 1.5)/2;;
}

#notifications_list{
    display: none;
    position: absolute;
    left: -($notification_list_width - $notification_icon_width)/2;
    width: $notification_list_width;
    background-color: $color_base;
    list-style: none;
    box-shadow: 0 1px 1px 1px #E6E6E6;
    border-radius: 6px;
    padding: 4px 6px;
    top: 26px;
    transition: top 4s linear;

    &.show{
        display: block;
        top:34px;
    }

}

