@import 'util';
.user_list{
    width:100%;
    margin: 0 auto;
    padding:0;
    list-style:none;
}

.user_list_item{
    margin: 18px 0;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #CACACA;
    @include clearfix();
    font-family: 'avenir';
    height:2rem;
    line-height:2rem;
    span.list_item{

        &.username, &.relation{
            float: left;
            margin-left: 12px;
        }

        &.relation, &.btn_add_friend{
            color: #ffffff;
            padding:0 4px;
            border-radius: 3px;
            line-height: 1.5em;
            transform: translateY(.25em);
            font-family: 'helvitica neue',sans-serif;
        }
        &.username a{
            color: #333;
            text-decoration: none;
        }

        &.relation{
            background-color: #4CAF50;
        }


        &.btn_add_friend{
            cursor: pointer;
            float:right;
            margin-right: 8px;
            background-color: #FF8F00;
        }
    }
}
